<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>图书详情</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<table >
    <tr>
        <th>书名：</th>
        <th>作者：</th>
        <th>原价：</th>
        <th>当前折扣：</th>
        <th>当前价格：</th>
        <th>出版时间：</th>
        <th>图书分类：</th>
        <th>操作：</th>

    </tr>
    <tr>
        <td id="bookId" th:text="${ly.bookId}" style="display: none"></td>
        <td th:text="${ly.bookName}"></td>
        <td th:text="${ly.bookAuthor}"></td>
        <td th:text="${ly.bookPrice}"></td>
        <td th:text="${ly.bookDiscount}"></td>
        <td th:text="${ly.bookCurrprice}"></td>
        <td th:text="${ly.bookPublishTime}"></td>
        <td th:text="${ly.cateId}"></td>
        <td><button><a>立即购买</a></button> |
            <button onclick="addCar()">加入购物车</button>
        </td>
    </tr>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">购物车</h4>
            </div>
            <div class="modal-body">

                <table class="table">
                    <thead>
                    <tr>
                        <th>商品</th>
                        <th>单价</th>
                        <th>数量</th>
                    </tr>
                    </thead>
                    <tbody id="car-data">

                    </tbody>


                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">去结算</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


</body>

<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    //<![CDATA[
    function showModel(){
        $("#myModal").modal();
    }

    function load() {

        $.ajax({
            url:"/car/show",
            type:"POST",
            data:{"userId":1},
            success:function(result){
                var tableHtml="";
                for(var i = 0;i < result.length;i++){
                    tableHtml += ' <tr><td>'+result[i].bookName+'</td>'+
                        ' <td>'+result[i].bookCurrPrice+'</td>'+
                        ' <td>'+result[i].quantity+'</td></tr>'
                }
                console.log(tableHtml);
                $("#car-data").html(tableHtml);
            }
        })

    }

    function addCar(){

        //将该商品加入到后台购物车中
        var bookId = $("#bookId").text();
        console.log(bookId);
        var bookIdLong = parseInt(bookId);

        $.ajax({
            url:"/car/add",
            type:"POST",
            data:{"bookId":bookIdLong,"userId":1,"quantity":1},
            success:function(result){
                if(result === "success"){
                    console.log("success");
                }else{
                    alert("未知");
                }
            }
        })

        //模态框中加载当前用户购物车中的商品

        load();

        //弹出模态框
        showModel();



    }
    //]]>
</script>
</html>